.container {
  text-align: center;
  margin: 50px 50px 50px 50px;
  width: 100%;
  height: 100%;
}
.flowsContainer {
  margin: 20px;
}
.flowsRenderContainer {
  margin-right: 50px;
}
.otherOptionsContainer {
  margin-top: 20px;
}
.graphLibraryTypesContainer {
  margin-top: -15px;
}
